.community-card {
  flex: 1;
  margin-right: 2rem;
  height: 32rem;
  border-radius: 1rem;
  border: 1px solid $gray4;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}
