footer {
  width: 100%;
  height: 16rem;
  background-color: $gray5;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    li {
      @include text-style(body2, $gray2);

      &:first-child {
        padding-bottom: 1.5rem;
      }
    }
  }

  .sns {
    display: flex;
  }
}
