// 기본 색상으로 텍스트, 배경등에 사용
$black: '#000000';
$white: '#FFFFFF';

// 기본 색상으로 텍스트, 배경 등에 사용 : 주 사용처 입력
$gray1: '#212121';
$gray2: '#616161';
$gray3: '#888888';
$gray4: '#CCCCCC';
$gray5: '#EEEEEE';
$gray6: '#F5F5F5';

// 브랜드 컬러로 강조, 활성, 긍정
$primary1: '#7471FF';
$primary2: '#CECBEF';
$primary3: '#6499FF';

// 프라이머리 컬러를 보조, 주목도가 높아야 하는 요소해 한해 부분적으로 사용
$secondary1: '#24DBAF';
$secondary2: '#CDF3EA';
