body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  letter-spacing: -0.5px;
  touch-action: pan-y;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
}
